@media (max-width: 400px) {
    .header-container {
        height: 10px;
        margin: 0;
        padding-top: 100px;
        padding-bottom: -50px;
    }

    .logo {
        width: 400px;
        height: 60px;
        position: absolute;
        padding-top: 15px;
        padding-left: 120px;
        margin-top: -140px;
        background-color: #fff;
    }

    .header-nav {
        visibility: hidden;
    }

    .main-img {
        visibility: hidden;
        position: absolute;
    }

    .main {
        margin: 0 15px;
    }

    h1 {
        font-size: 30px;
        line-height: 100%;
        padding-top: 60px;

    }

    .intro {
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 14px;
        line-height: 150%;
    }

    .button-outline {
        font-size: 18px;
        padding: 15px 30px;
    }

    .reproductions {
        width: 400px;
    }

    .reproductions-header {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .reproductions-title {
        font-size: 24px;
        text-align: center;
    }

    .countries {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .items {
        padding-top: 28px;
        width: 400px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin-bottom: 60px;
    }

    .item {
        width: 400px;
        padding-left: 15px;
    }

    .promo {
        width: 400px;
    }

    .promo-content {
        width: 400px;
        padding: 50px 15px;
    }

    h3 {
        font-size: 24px;
    }

    .promo-text-1,
    .promo-text-2 {
        width: 400px;
        font-size: 16px;
        line-height: 140%;
    }

    .see {
        font-size: 18px;
        padding: 15px 84px;
        margin-top: 30px;
    }

    .team {
        width: 400px;
        padding: 0;
    }

    .team-container {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        width: 400px;

    }

    .team-desc {
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
        width: 400px;
    }

    .team-imgs {
        margin-bottom: 94px;
        justify-content: space-around;
    }

    .img-team {
        width: 235px;
        margin-left: 35px;
    }

    .footer-container {
        padding-top: 23px;
        padding-bottom: 23px;
        width: 320px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .footer-items {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

}